################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OCR
/OCR.Engine
/OCR.Test/bin
/OCR.Test/obj
/OCR.Test/obj/Debug
/OCR.Test/obj/Release